# Configuración del Host (Dominio Público)
KEYCLOAK_HOSTNAME=auth.example.com

# Credenciales de Administrador (¡CAMBIAR EN PRODUCCIÓN!)
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=change_me_please

# Base de Datos
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change_me_db_password

# Configuración de Logs
KC_LOG_LEVEL=INFO